@import "tailwindcss";

:root {
  --white: #f9fafb;
}

* {
  list-style: none;
  text-decoration: none;
  color: #333;
}

.wrapper {
  max-width: 1000px;
  margin: 30px auto;
  justify-items: center;
}

@media (max-width: 430px) {
  .wrapper {
    padding: 0 16px;
  }
}
