.main {
    background-color: #f0f2f4;
    border-radius: 8px;
    padding: 40px;
    justify-items: center;
}

.input {
    outline: none;
    line-height: 28px;
    border: solid 1px #666;
    border-radius: 3px;
    background-color: #fafafa;
    display: block;
}