.main {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.sliderInner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 8px;
    z-index: 5;
}

.dot,
.dotActive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}
.dotActive {
    background: #000;
}

.songMain {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

.songSliderInner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.songSlide {
    flex: 0 0 100%; /* 縦方向に1枚分の高さ */
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

